/* src/styles/Homepage.css */

.header {
  background-color: #7E254E;
  color: #fff;
  padding: 60px 0;
  text-align: left;
}
  
  .header h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  
  
  .header p {
    font-size: 1.2rem;
  }
  
  .search-container {
    background-color: #f8f9fa;
  }
  
  .search-bar {
    border-radius: 20px;
    margin-right: 10px;
  }
  
  .search-icon {
    border-radius: 50%;
  }

  .navbar-custom {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-custom .nav-link {
    color: #333;
    font-weight: bold;
  }
  
  .navbar-custom .apply-now-btn {
    background-color: #e83e8c;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    padding: 8px 16px;
  }
  
  .apply-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .apply-section .btn-primary {
    background-color: #e83e8c;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1rem;
  }
  
  
  .card-custom {
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.2s ease-in-out;
  }
  
  .card-custom:hover {
    transform: scale(1.05);
  }

  .card-custom .card-body {
    padding: 20px;
  }
  
  .card-custom .btn-primary {
    background-color: #e83e8c;
    border: none;
    border-radius: 20px;
    color: #ffffff;
    padding: 8px 16px;
  }
  
  .card-custom ul {
    list-style-type: none;
    padding: 0;
  }
  
  .card-custom ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  .card-custom ul li:before {
    content: '•';
    position: absolute;
    left: 0;
    color: #e83e8c;
    font-size: 1.5rem;
  }
  .faq-section {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
  }
  
  .faq-section h2 {
    margin-bottom: 20px;
    font-size: 32px;
  }
  
  .faq-section p {
    margin-bottom: 20px;
    font-size: 18px;
  }
  
  .accordion-button {
    color: #fff;
    background-color: #444;
    border: none;
  }
  
  .accordion-button:not(.collapsed) {
    color: #e83e8c;
    background-color: #333;
  }
  
  .accordion-button::after {
    filter: invert(1);
  }
  
  .custom-footer {
    background-color: #7E254E;
  }
  
  .navbar-footer {
    background-color: #2b6777;
  }
  
  .navbar-footer .nav-link {
    color: #fff;
  }
  
  .navbar-footer .nav-link:hover {
    color: #b95545;
  }
  
  .list-unstyled button {
    color: #fff;
    font-size: 24px;
  }
  
  .list-unstyled button:hover {
    color: #b95545;
  }
