.login-body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.login-app {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(11, 17, 69, 1) 0%, rgba(126, 37, 78, 1) 100%);
}

.login-container {
  background-color: #fff;
  width: 450px;
  padding: 40px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.login-logo {
  width: 150px;
  margin-bottom: 40px;
}

.login-input-container {
  margin-bottom: 20px;
}

.login-input {
  width: 75%;
  padding: 15px;
  margin: 10px 0;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 16px;
}

.password-input-container {
  position: relative;
}

.password-toggle-icon {
  position: absolute;
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 15.5px;
}

.login-submit-button {
  width: 50%;
  padding: 10px;
  background-color: #272b99;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.login-submit-button:hover {
  background-color: #1c1f70;
}

.login-signup-text {
  margin-top: 20px;
  font-size: 14px;
}

.login-signup-link {
  color: #272b99;
  text-decoration: none;
}

.login-signup-link:hover {
  text-decoration: underline;
}

/* Responsive Styles */
@media (max-width: 992px) {
  .login-container {
    width: 90%;
    padding: 30px;
  }

  .login-input {
    width: 80%;
  }

  .login-submit-button {
    width: 60%;
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .login-container {
    width: 95%;
    padding: 20px;
  }

  .login-input {
    width: 85%;
  }

  .login-submit-button {
    width: 70%;
    padding: 14px;
  }
}

@media (max-width: 576px) {
  .login-container {
    width: 100%;
    padding: 15px;
  }

  .login-input {
    width: 90%;
  }

  .login-submit-button {
    width: 80%;
    padding: 16px;
  }

  .password-toggle-icon {
    right: 8%;
  }
}
